<div class="input-group mb-3">
 Eth0
 <br>
</div>

<div class="input-group mb-2">
  <br>
<span class="input-group-text" id="basic-addon1">Static IP</span>
<input type="text" class="form-control" placeholder="192.168.x.x" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-2 ">


<span class="input-group-text" id="basic-addon1">Subnet </span>
<input type="text" class="form-control" placeholder="255.255.x.x" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-2">
<span class="input-group-text" id="basic-addon1">Mac Address</span>
<input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-2">
<span class="input-group-text" id="basic-addon1">Static Router</span>
<input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-2">
<span class="input-group-text" id="basic-addon1">Static Domain</span>
<input type="text" class="form-control" placeholder="8.8.8.8" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-2">
<span class="input-group-text" id="basic-addon1">Gateway</span>
<input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
</div>
